@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../public/home1.jpg');
}

.custom-img2 {
  background-image: url('../../public/backgroundForTrusted.jpg');
}

.custom-img3 {
  background-image: url('../../public/backgroundProject.jpg');
}


body {
  background-image: url('../../public/servicesbackgorundimage.jpg');
}